* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Open Sans, sans-serif, Arial;
}

:root {
  --dc-primary: #0282f9;
  --dc-bg-main: #1c1c1c;
  --dc-bg-footer: #303030;
  --dc-font-light: #fff;
  --dc-font-dark: #000;
  --dc-font-footer: lightgray;
}
/* GENERAL */
.d-flex {
  display: flex;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

/* HEADER */

.navbar,
.mainContainer,
.rowMain,
.footerContainer,
.footerBottom {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.navContainer {
  justify-content: space-between;
  align-items: center;
  height: 118px;
  .navMenu {
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
  }
}

/* MAIN */

.mainBackgroundTop {
  color: var(--dc-font-light);
  background-color: var(--dc-bg-main);
}
.mainBackgroundBottom {
  color: var(--dc-font-light);
  background-color: var(--dc-primary);
}
.mainContainer {
  height: 130px;
  align-items: center;
}
.rowMain {
  height: 130px;
  align-items: center;
  justify-content: space-around;
}

.cardMain {
  align-items: center;
  span {
    padding: 1rem;
  }
}

/* FOOTER */

footer {
  background-color: var(--dc-font-footer);
  height: 368px;
}

.footerBottomBg {
  background-color: var(--dc-bg-footer);
}

.footerBottom {
  justify-content: space-between;
  align-items: center;
  height: 112px;

  .btnFooterBottom {
    color: var(--dc-font-light);
    background-color: transparent;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border: 2px solid var(--dc-primary);
  }

  h4 {
    color: var(--dc-primary);
    padding-right: 1rem;
  }

  .followUs {
    align-items: center;
  }

  .iconBottom {
    gap: 1rem;
  }
}
