/* #region GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Open Sans, sans-serif, Arial;
  letter-spacing: -1px;
}

:root {
  --dc-primary: #0282f9;
  --dc-bg-main: #1c1c1c;
  --dc-bg-footer: #303030;
  --dc-font-light: #fff;
  --dc-font-dark: #000;
  --dc-font-footer: lightgray;
}
/* #endregion GENERAL */
/* #region COMMON */
.d-flex {
  display: flex;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

.navbar,
.mainContainer,
.rowMain,
.footerContainer,
.footerBottom {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.col-2 {
  width: calc(100% / 12 * 2);
}

/* #endregion COMMON */
/* #region HEADER */
.navContainer {
  justify-content: space-between;
  align-items: center;
  height: 118px;
  .navMenu {
    flex-wrap: wrap;
    gap: 1rem;
    li {
      padding: 2.85rem 0.25rem;
      border-bottom: 5px solid transparent;
      .active {
        color: var(--dc-primary);
        padding: 2.85rem 0.25rem;
        border-bottom: 5px solid var(--dc-primary);
      }
      &:hover {
        border-bottom: 5px solid var(--dc-primary);
      }
    }

    a {
      font-weight: 600;
      color: var(--dc-font-dark);
      &:hover {
        color: var(--dc-primary);
      }
    }
  }
}
/* #endregion HEADER */

/* #region MAIN */
.jumbotron {
  height: 400px;
  background-image: url(/img/jumbotron.jpg);
}

.btnCurrentSeries {
  position: absolute;
  top: -10%;
  left: 0;
  height: 50px;
  width: 245px;
  font-size: 26px;
  font-weight: 600;
  letter-spacing: -2px;
  color: var(--dc-font-light);
  background-color: var(--dc-primary);
  padding: 0.5rem 1rem;
  cursor: pointer;
  border: none;
  &:hover {
    background-color: rgb(24, 79, 231);
  }
}
.btnLoadMore {
  position: absolute;
  bottom: -36px;
  left: 50%;
  transform: translateX(-50%);
  height: 36px;
  width: 182px;
  font-weight: 600;
  color: var(--dc-font-light);
  background-color: var(--dc-primary);
  padding: 0.5rem 1rem;
  cursor: pointer;
  border: none;
  &:hover {
    background-color: rgb(24, 79, 231);
  }
}

.mainBackgroundTop {
  color: var(--dc-font-light);
  background-color: var(--dc-bg-main);
}
.mainBackgroundBottom {
  color: var(--dc-font-light);
  background-color: var(--dc-primary);
}
.mainContainer {
  align-items: center;
}

.rowCards {
  position: relative;
  height: 584px;
  flex-wrap: wrap;
  margin: 2rem auto 4rem;

  .card {
    padding: 2rem 1rem;
    img {
      height: 185px;
      width: 185px;
      object-fit: cover;
      object-position: top;
    }
    p {
      font-size: 14px;
      padding: 1rem 0;
      text-transform: uppercase;
    }
  }
}
.rowMain {
  height: 130px;
  align-items: center;
  justify-content: space-evenly;
}

.cardMain {
  align-items: center;
  span {
    padding: 1rem;
    a {
      color: var(--dc-font-light);
      &:hover {
        border-bottom: 3px solid var(--dc-font-light);
      }
    }
  }
}
/* #endregion MAIN */
/* #region FOOTER */

footer {
  background-image: url("/img/footer-bg.jpg");
  height: 368px;
  .footerContainer {
    max-height: 368px;
    background-image: url("/img/dc-logo-bg.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 45%;
    padding: 1.7rem 0;
    .row {
      max-width: 465px;
      flex-wrap: wrap;
      flex-direction: column;
      .card {
        font-weight: 300;
        min-width: 140px;
        h3 {
          font-weight: 600;
          color: var(--dc-font-light);
          padding: 1rem 0;
        }
        ul li a {
          color: var(--dc-font-footer);
          opacity: 50%;
          font-size: 14px;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}

.footerBottomBg {
  background-color: var(--dc-bg-footer);
}

.footerBottom {
  justify-content: space-between;
  align-items: center;
  height: 112px;

  .btnFooterBottom {
    color: var(--dc-font-light);
    background-color: transparent;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border: 2px solid var(--dc-primary);
    &:hover {
      color: var(--dc-primary);
    }
  }

  h4 {
    color: var(--dc-primary);
    padding-right: 1rem;
  }

  .followUs {
    align-items: center;
  }

  .iconBottom {
    gap: 1rem;
  }
}
/* #endregion FOOTER */
